<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
=======
.dotted-blue {
  border: 2px dotted blue;
}

.dotted-red {
  border: 2px dotted red;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 10% auto 10%;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.col {
  height: 33%;
}
>>>>>>> eb83c15b5e2c41cadce11a12681b2abb3f8c090d
